<!-- <header class="site-header">

  <div class="wrapper">

    <a class="site-title" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>

    <nav class="site-nav">
      {% for link in site.data.navigation.main %}
        {% if link.url contains "http" or link.url contains "mailto"%}
          {% assign url = link.url %}
        {% else %}
          {% assign url = link.url | relative_url %}
        {% endif %}
        <a class="page-link" href="{{ url }}">{{ link.title }}</a>
      {% endfor %}
    </nav>

  </div>

</header>
 -->

       <div id="top-bar">
        <div class="navbar container">
            <a id="author-name" class="alignable pull-left" href="{{ site.url }}{{ site.baseurl }}">
              Corentin Dancette - {% if page.layout == "post" %} Blog {% else %} {{ page.title }}{% endif %} 
            </a>
            <ul class="alignable pull-right navbar-ul">
                {% for x in site.data.navigation.main %}
                    {% if x.name == "Resume" %}
                        <li class="alignable pull-left nav-list"><a target="_blank" href="{{ x.url }}">{{ x.title }}</a>
                    {% else %}
                        <li class="alignable pull-left nav-list"><a href="{{ x.url }}">{{ x.title }}</a>
                    {% endif %}
                    {% if forloop.last == false %}
                        /
                    {% endif %}
                        </li>
                {% endfor %}
            </ul>
        </div>
        <div style="clear:both"></div>
        <hr>
        </div>

